<div class="card-detail">
  <div class="user-card">
    <%= image_tag @user_card.image.url(:large) %>
    <div class="expire-time"><%= @user_card.expired_at.strftime('%Y年%m月%d日') %> 有效</div>
  </div>

  <div class="qrcode box">
    <%= image_tag "https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=#{@user_card.qrcode_ticket}", class: 'qrcode-image' %>
    <p class="qrcode-desc">到店出示此二维码，扫码完成验证</p>
  </div>
  
  <% if @user_card.card && @user_card.card.body %>
  <div class="box body">
    <%= simple_format @user_card.card.body %>
  </div>
  <% end %>

  <div class="box use-prompt">
    <h2>温馨提示</h2>
    <p>每张抵扣卡只能使用一次。</p>
    <p>此卡最终解释权归商家所有</p>
  </div>
</div>

<div class="qrcode-result-modal">
  <div class="result center-box" id="qrcode-result"></div>
</div>

<% content_for :scripts do %>

<script>
var yunba;

function initYunba() {
  yunba = new Yunba({server: 'sock.yunba.io', port: 3000, appkey: '59a618093fccc1b73b711c97'});
  yunba.init(function (success) {
    if (success) {
      yunba.connect_by_customid('<%= @user_card.user.uid %>', function (success, msg, sessionid) 
      {
          if (success) {
              // console.log('你已成功连接到消息服务器，会话ID：' + sessionid);
              var topic = '<%= @user_card.uniq_id %>';
              yunba.subscribe({'topic': topic}, 
                  function (success, msg) {
                      if (success) {
                          console.log('你已成功订阅频道');
                      } else {
                          console.log(msg);
                      }
                  }
              );
              
              yunba.set_message_cb(function (data) {
                if (data.topic === topic) 
                {
                  var msg = data.msg;
                  $('.qrcode-result-modal #qrcode-result').html(msg);
                  $('.qrcode-result-modal').show();
                  
                  setTimeout(() => {
                    $('.qrcode-result-modal').hide()
                  }, 3000);
                }
              });
              
          } else {
              console.log(msg);
          }
      });
    }
  });
}
  
initYunba();
</script>

<% end %>