<div class="event-box">
<%= simple_form_for(@event, html: { class: 'form-horizontal form-label-left', id: 'event_form' },
    wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    }) do |f| %>
      <input name="token" type="hidden" value="<%= params[:token] %>">
      <%= f.input :title %>
      <%= f.input :image, hint: '图片格式为：jpg, jpeg, png；图片尺寸为：750x512' %>
      <%= f.input :body, as: :text, input_html: { class: 'redactor' },placeholder: '网页内容，支持图文混排', hint: '网页内容，支持图文混排' %>
      <%= f.input :total_money_0, as: :integer, label: '花费红豆数', required: true, placeholder: '输入当前广告展示的红豆消费数量' %>
      <%= f.input :sort %>
           
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to '取消', :back, class: "btn btn-primary" %>
          <button type="button" class="btn btn-success"><%= f.object.new_record? ? "确定发布" : "保存" %></button>
        </div>
      </div>
<% end %>
</div>
