<div class="container">
  <%= image_tag 'vote-caption.jpg', class: 'vote-caption' %>
  
  <div class="vote-box">
    <h1 class="header">投票选手</h1>
    <div class="row">
      <% @vote_items.each do |item| %>
      <div class="col-sm-3 col-xs-6">
        
        <div class="panel panel-<%= item.ended? ? 'default' : item.started? ? 'warning' : 'primary' %>">
          <div class="panel-heading">
            <h3 class="panel-title">
              <% if not item.started? %>
              即将开始
              <% elsif not item.ended? %>
              正在投票
              <% else %>
              投票结束
              <% end %>
            </h3>
          </div>
          <div class="panel-body">
            <div class="vote-item" onclick="javascript:window.open('/votes/<%= item.id %>?ak=<%= SiteConfig.vote_ak %>');">
              <h2><%= item.name %></h2>
              <p class="vote-count">票数: <%= item.vote_count %></p>
            </div>
          </div>
        </div>
        
      </div>
      <% end %>
    </div>
  </div>
</div>