<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset='utf-8' />
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <!-- non responsive -->
  <%= stylesheet_link_tag  'front', media: 'all', 'data-turbolinks-track' => true %>
  
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" />
  
  <%= yield :styles %>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body>    
  <div class="account-header">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="brand pull-left" href="/">
            <%= image_tag 'logo.png', class: 'logo', alt: '得益无线平台' %>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right link">
          <li>
            <% if controller_name == 'sessions' and action_name == 'new' %>
            <a href="<%= new_merchant_registration_path %>">注册</a>
            <% elsif controller_name == 'account' and action_name == 'new' %>
            <a href="<%= new_merchant_session_path %>">登录</a>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <div class="footer">
    <div class="copyright">
      <small>
          版权所有 &copy; <%= Time.now.year %> 得益 保留所有权利.蜀ICP备14031323号
        </small>
    </div>
  </div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :scripts %>
</body>
</html>